@font-face {
    font-family: 'myFont';
    src: url() format(); /*put filename of font and file format in brackets*/
}

/* universal style selector */
* {
    box-sizing: border-box;
}

/* html style */
html {


    background-color: yellow;
}
/* this is body style */
body{

    background-color: white;
    width: 800px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;


    /* can have as solid line, dotted line, dashed line */
}

/* headerstyle */
header{
    background-color: lightblue;
    height: 250;
    position: sticky;
    top: 10px;
}
header img{
    float: left;
}

/* list style */
header nav ul{
    margin-left: 150px;
    /* remove bullet points */
    list-style-type: none;
    margin: 0px;
}
header nav ul li{

    margin: 20px;
    /* make list 1 line, from left to right */
    display: inline;
}

/* modifying hyperlinks */
header nav ul li a{
    font-size: 18px;
    /* color: black; */
    text-transform: capitalize;
    text-decoration: none;
}
header nav ul li a:visited{
    color: purple;
}
header nav ul li a:hover{
    color: red;
    text-decoration: underline;
}
header nav ul li a:active{
    color: darkgreen;
    font-size: 20px;
    text-decoration: none;
}
/* this is table style */
table{
    
    border: 2px solid orange;
    width: 400px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    /* box shadow */
    box-shadow: 12px 8px 10px;
}

table tr th:hover, td:hover {
    background-color: yellow;
}


table tbody tr:first-of-type {
    background-color: gray;
}

/* table tr:first-child if not nested*/

table caption{

    font-size: 20px;
    color: red;
    /* text shadow, direction, length, darkness */
    text-shadow: 12px 10px 10px red;

}
th, td{
    border: 2px solid black;
}

th{
    color: darkblue;
    font-style: italic;
}

td{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    /* better to bold in css instead of html, keep design in css and markup in html */
}

/* heading style */
h1{
    text-align: center;
}

/* footer style */
footer{
    background-color: lightblue;
    border: 2px solid blue;

}

footer p{
    text-align: center;
    font-variant: normal;
    color: black;
    text-transform: capitalize;
}

/*  */
iframe{
    margin-left: auto;
    margin-right: auto;
    border: 2px blue;
    display: block;
    width: 500px;
}

video#video-1 {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.para {
    border: 2px solid blue;
    margin: 10px;
    padding: 7px;
    height: 30%;
    width: 15%;
}

form {

    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

input[type=text], input[type=email], input[type=phone] input[type=color] {

    width: 200px;
    border: 2px solid blue;
    background-color: lightblue;
    /* removes highlighting of text box when typing */
    outline: none;
}

input[type=submit] {

    margin-left: auto;
    margin-right: auto;
    display: block;
    color: red;
    background-color: lightgray;
    border: 2px solid blue;
    font-size: 20px;
}

input[type=text]:focus {
    background-color: yellow;
}

input[type=submit]:hover {
    background-color: pink;
}

section#image{
    width: 900px;
    height: 300px;
    background-image: url(station.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}

section#gradient {
    background-image: linear-gradient(45deg, blue, red, pink, violet, white);
}

section#float {
    height: 300px;
    border: 2px solid black;
    
}

section#float img{
    float: left;
}

/* dream.html */
section.pst {
    height: 200px;
    border: 2px solid blue;
    background-color: lightcyan;
}

div.pos {
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
}

section.pst div.pos:first-child {
    position: relative;
    left: 40px;
}

main section.pst:nth-child(2) {
    position: relative;
    left: 30px;
    border: 2px solid red;
}

section.pst div.pos:first-child {
    position: absolute;

}

div#fixed {
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    position: fixed;
    bottom: 20px;
    left: 100px;
}